#content {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-thumbnails img {
    margin: 10px;
    max-height: 400px;
    max-width: 1200px;
}
  
.image-thumbnails img:hover {
    border: thick solid black;
}

div {
    display: block;
}

.game-table {
    position: relative;
    z-index: 1;
}

.game-table_head {
    margin: 0 -20px;
    margin-top: 0px;
    margin-right: -20px;
    margin-bottom: 0px;
    margin-left: -20px;
    padding: 0 20px;
    border-bottom: 2px solid white;
    box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

.game-table_head .game-table_row {
    display: grid;
    grid-template-columns: 10px 90px 1fr 1fr;
    font-size: .75em;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    text-align: center;
}

.container.table-container {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.game-table_body {
    max-height: calc(100vh - 450px);
    min-height: 140px;
    overflow-x: visible;
    overflow-y: scroll;
    margin: 0 -20px;
    margin-top: 0px;
    margin-right: -20px;
    margin-bottom: 0px;
    margin-left: -20px;
}
.game-table_body .game-table_row {
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    background: white;
    border-bottom: 1px solid #727272;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(114, 114, 114);
    display: grid;
    grid-template-columns: 1px 90px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "name name name"
        "team conf div";
}

.game-table_body .game-table_row .game-table_cell {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-size: 12px; 
    background: white;
    border: 1px solid #f5f2ec; 
    border-bottom: none;
    border-left: none;
    position: relative;
}

#greeting-container {
  margin-top: 20px;
}
